  <div id="menucontainer">
                <ul id="menu">
                    <li>
                        $html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                         $html.ActionLink("Filter", "Filter", "Home")</li>
                    <li>
                         $html.ActionLink("Route", "Route", "Home")</li>
                    <li>
                        $html.ActionLink("Model", "Model", "Home")</li>
                    <li>
                         $html.ActionLink("Cookie", "Cookie", "Home")</li>
                    <li>
                         $html.ActionLink("Dynamic", "Dynamic", "Home")</li>
                    <li>
                         $html.ActionLink("ViewData", "ViewDataTest", "Home")</li>
                    <li>
                         $html.ActionLink("Velocity", "Velocity", "Home")</li>
                  
                </ul>
            </div>