<?xml version="1.0" encoding="utf-8" ?>
<routeTable>
	<add name="Default" url="{controller}.mvc/{action}">
		<defaults>
			<controller>Home</controller>
			<action>Index</action>
		</defaults>
		<constraints>
		</constraints>
	</add>
	<add name="RouteTest" url="Home.mvc/Route/{operation}">
		<defaults>
			<controller>Home</controller>
			<action>Route</action>
			<operation></operation>
		</defaults>
		<constraints>
			<operation>\d+</operation>
		</constraints>
	</add>
	<add name="test" url="browse/test.aspx" engine="webform">
		<defaults>
			<controller>Home</controller>
			<action>Test</action>
		</defaults>
		<constraints>
		</constraints>
	</add>
	<remove name="rtest"></remove>
	<ignore url="{resource}.axd/{*pathInfo}"></ignore>
	<ignore url="{folder}/{resource}.css/{*pathInfo}"></ignore>
	<ignore url="{folder}/{resource}.js/{*pathInfo}"></ignore>
</routeTable>