<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<assembly name="MvcInfrastructure.Sample.Business"/>
	<namespace name="MvcInfrastructure.Sample.Business"/>
	<alias alias="perrequest" type="MvcInfrastructure.Core.PerRequestLifetimeManager, MvcInfrastructure.Core"/>
	<container>
		<register type="ITestService" mapTo="TestService">
			<lifetime type="perrequest"/>
		</register>
		<register type="IUser" mapTo="User">
			<lifetime type="transient"/>
		</register>
	</container>

</unity>
